

<%- include('../partials/header') %>
<div class="container">
    
    <!-- <form action="/reviews/<%=review.id%>?_method=PUT" method="post" autocomplete="off">
      <input type="text" name="review" value="<%=review.review%>">
      <button type="submit">Update Review</button>
    </form> -->

    <!-- <form action="/reviews/<%= review._id %>?_method=put" method="POST" style="display: inline-block">
        <input type="text" name="content" value="<%=review.content%>">

        <button type="submit" class="btn btn-danger btn-sm" data-bs-dismiss="toast">Update Review</button>
        </form> -->
<!-- test -->
<form action="/reviews/<%= review._id %>?_method=put" method="POST" >
    <label><span>Rating:</label>
    <select name="rating">
        <option selected><%=review.rating%></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
      <div class="form-group">
        <label>Comment:</label>
        <textarea class="form-control"  rows="3" name="content"><%=review.content%></textarea>
      </div>
      <div>  <input type="submit" value="Edit Review">
      </div>
    </form>
<!-- test -->

        <!-- <form >
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
      
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
</div>
<%- include('../partials/footer') %>
