

<%- include('../partials/header') %>
<div class="container">

<form action="/reviews/<%= review._id %>?_method=put" method="POST" >
    <label><span>Rating:</label>
    <select name="rating">
        <option selected><%=review.rating%></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
      <div class="form-group">
        <label>Comment:</label>
        <textarea class="form-control"  rows="3" name="content"><%=review.content%></textarea>
      </div>
      <div>  <input type="submit" value="Edit Review">
      </div>
    </form>
</div>
<%- include('../partials/footer') %>
