<%- include('../partials/header') %>
<div class="container">

<table class="table table-striped table-hover" id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(function(game) { %>
        <tr>
          <td><%= game.title %></td>
          <td><%= game.releaseDate.toLocaleString('en-us', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2') %></td>
          <td>  <%- game.genre.map(genre => 
            `${genre}`
          ).join(', ') %></td>
          <td><a href="/games/<%= game._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</div>
<%- include('../partials/footer') %>
