<%- include('../partials/header') %>
    
    <div class="container" >
      <h1 style="text-align:center"><%= game.title %></h1>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <!-- <h5 class="card-title"><%= game.title %></h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <div class="row">
            <div class="col-sm" >
                Release Date:
            </div>
            <div class="col-sm">
              <%= game.releaseDate.toLocaleString('en-us', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
                No. of Players:
            </div>
            <div class="col-sm">
                <%= game.numPlayers %>
            </div>
            <div class="row">
              <div class="col-sm">
                  Genre:
              </div>
              <div class="col-sm">
                  <!-- <%= game.genre %>
                  <ul> -->
                    <%- game.genre.map(genre => 
                      `${genre}`
                    ).join(', ') %>
                  <!-- </ul> -->
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                  Publisher:
              </div>
              <div class="col-sm">
                  <%= game.publisher %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                  Supported Language:
              </div>
              <div class="col-sm">
                  <%- game.supportedLanguage.map(language => 
                      `${language}`
                    ).join(', ') %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                  Description:
              </div>
              <div class="col-sm">
                  <%= game.description %>
              </div>
            </div>


          </div>
<!-- 
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
     
        <!-- reviews -->

          <br><br><h2 style="text-align:center">Reviews</h2>

          <% if (game.reviews.length) { %>
            <% let total = 0 %>

            <% game.reviews.sort((a, b)=> b.updatedAt - a.updatedAt).forEach(function(review) { %>
              <% total += review.rating %>

              <div class="row" >
                <div class="col-sm">

                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header">
                    <!-- <img src="..." class="rounded me-2" alt="..."> -->

                    <strong class="me-auto" class="review-user"><img alt="avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer" style="border-radius:50%; height: 40px">&nbsp<%= review.userName %></strong>
                    
                    <strong class="me-auto">Rating: <%= review.rating %></strong>
                    <small><%= game.createdAt.toLocaleDateString()%>&nbsp&nbsp</small>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
                  </div>
                  <div class="toast-body">
                    
                    <%-`${review.content.replaceAll('\r\n', '<br>')}` %>
                    
                    <% if (user && user._id.equals(review.user)) { %>

                    <div class="mt-2 pt-2 border-top" id="review-botton">

                      <button type="button" class="btn btn-info btn-sm" ><a href="/reviews/<%=review.id %>/edit">EDIT</a></button> 

                      <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display: inline-block">
                      <button type="submit" class="btn btn-danger btn-sm" data-bs-dismiss="toast">DELETE</button>
                      </form>

                    </div>
                    <% } %>

                  </div>
                </div>
                <% }); %>
              </div>
              <strong>Average rating: <%= (total / game.reviews.length).toFixed(1) %></strong>
            </div>
            </div>
              <% } else { %>
                <h5>No Reviews Yet</h5>
              <% } %>

          <!-- add review form -->
          
          <div class="row">
            <div class="col-sm">
              <!-- <% if (user) { %> -->

              <br><br><h2 style="text-align:center">Add a Review</h2>
              <form id="add-review-form" method="POST" action="/games/<%= game._id %>/reviews">

              <label><span>Rating:</label>
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
              </select>
                <div class="form-group">
                  <label>Comment:</label>
                  <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <div>  <input type="submit" value="Add Review">
                </div>
              </form>
              <!-- <% } %> -->

            </div>
            
          </div>
      </div>

      <!-- <script src="../public/javascripts/rate.js"></script> -->

<%- include('../partials/footer') %>
